# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
my_world/
venv/
env/
.env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django migrations
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py

# Pytest / test / coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
